.wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
                             "header header header header"
                              "nav main main main"
                              "footer footer footer footer";
  }


.header {
          grid-area: header;

}

.nav {
        grid-area: nav;

}


.main {
          grid-area: main;
}
.balt  {
          width: 100%;
          height: auto;
}

.par1 {
        position:relative;
        text-align: center;
        font-family: 'Acme', sans-serif;
        font-size: 25px;
        color: blue;
}
 .span1 {
          position:relative;
          left: 5%;
          font-size: 22px;
 }
.span2  {
               position:relative;
               left: 5%;
}

 .ctbut {
         position: relative;
         height: 40px;
         width: 100px;
         left: 5%;
         font-size: 16px;
         background-color: white;
         color: blue;
         border:  2px solid blue;
         box-shadow: 4px 4px #d3d3d3;
 }

.wxbut   {
           position: relative;
           height: 40px;
           width: 100px;
           left: 5%;
           background-color: white;
           border: 2px solid green;
           color: green;
          box-shadow: 4px 4px #d3d3d3;
}

.ytbut   {
           position: relative;
           height: 40px;
           width: 100px;
           left: 5%;
           background-color: white;
           border: 2px solid red;
           box-shadow: 4px 4px #d3d3d3;
           border-radius: 10px;
}


 .formbg {
           border-color: blue;
 }

.form {
          position: relative;
          width: 15%;

          color: white;
}

.legend {
          color: #181616;
          font-size: 20px;
}
#icon {
                         font-size: 21px;
                         color: black;
}
#icon1 {
         color: red;
         font-size: 28px;
}
#sym {
       color: green;
       font-size: 22px;
}

.img1 {
         position: relative;
         top:1%;
         width: 30%;
         height: auto;
         left:1%;

}

.img2 {
         position: relative;
         top:1%;
         width: 30%;
         height: auto;
         left:5%;
}





.seafd {
         font-family: 'Fascinate Inline', cursive;
         font-size: 25px;

}



@media  screen and (max-width: 600px){
  .main {
          background-color: lightblue;
  }
}
